.cardsCounter {
  font-weight: bold;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  user-select: none;
}

.suit {
  display: flex;
}

.card {
  position: relative;
  height: 150px;
  margin: 5px;
  cursor: pointer;

  &.active img {
    opacity: 0.3;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5%;
  display: flex;
  justify-content: end;
}

.myCard {
  padding: 4px 4px;
  opacity: 0.6;
  font-size: 16px;
  line-height: 16px;
}

@media screen and (max-width: 740px) {
  .card {
    height: 125px;
  }

  .myCard {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 620px) {
  .card {
    height: 100px;
  }

  .myCard {
    font-size: 12px;
    line-height: 12px;
    padding: 3px 3px;
  }
}

@media screen and (max-width: 500px) {
  .cardsCounter {
    font-size: 14px;
  }

  .card {
    height: 95px;
  }

  .myCard {
    font-size: 10px;
    line-height: 10px;
  }
}

@media screen and (max-width: 465px) {
  .card {
    height: 90px;
  }
}

@media screen and (max-width: 445px) {
  .card {
    height: 85px;
  }
}

@media screen and (max-width: 420px) {
  .card {
    height: 80px;
  }
}

@media screen and (max-width: 405px) {
  .card {
    height: 75px;
  }
}

@media screen and (max-width: 380px) {
  .card {
    height: 70px;
  }
}

@media screen and (max-width: 360px) {
  .cardsCounter {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .card {
    height: 65px;
  }
}

@media screen and (max-width: 340px) {
  .card {
    height: 60px;
  }
}

@media screen and (max-width: 318px) {
  .card {
    height: 55px;
  }

  .myCard {
    font-size: 8px;
    line-height: 8px;
  }
}
