.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.suit {
  display: flex;
}

.card {
  height: 150px;
  margin: 5px;
  cursor: pointer;

  &.active {
    filter: sepia();
  }

  @media screen and (max-width: 740px) {
    height: 125px;
  }

  @media screen and (max-width: 620px) {
    height: 100px;
  }

  @media screen and (max-width: 500px) {
    height: 80px;
  }

  @media screen and (max-width: 415px) {
    height: 70px;
  }

  @media screen and (max-width: 360px) {
    height: 65px;
  }

  @media screen and (max-width: 340px) {
    height: 60px;
  }

  @media screen and (max-width: 318px) {
    height: 55px;
  }
}

